/* calculated styles */

/* Background Style */

html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Text Styles */

.smmgk_maintenance body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
.smmgk_maintenance body {
		background-size: 100% 100%;
	}	
	/*
@media(min-width:992px){
	.smmgk_maintenance body {
		background-size: 100% 100%;
	}	
}

@media(max-width:991px){
	body {
		background-position: top;
	}
}
*/
.smmgk_maintenance h1,
.smmgk_maintenance h2,
.smmgk_maintenance h3,
.smmgk_maintenance h4,
.smmgk_maintenance h5,
.smmgk_maintenance h6 {
	font-family: Helvetica, Arial, sans-serif
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	text-align: center;
	background-image: url(../images/default-maitenance_bg.jpg);
	background-repeat: no-repeat;
	-webkit-overflow-scrolling: touch;
	color: #ffffff;
	background-size: cover !important;
}

#smmgk-page {
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 100%;
}

#smmgk-content {
	max-width: 800px;
	margin: 0 auto;
}

.smmgk_headline {
    font-size: 42px;
	text-transform: uppercase;
}

.smmgk_logo {
	max-width: 100%;
	height: auto;
}

.smmgk_logo {
	margin: 0 0 40px 0;
}

.smmgk_headline {
    margin: 20px 0;
}

.smmgk_descriptions {
    display: inline-block;
	font-size: 28px;
}
.smmgk_clock
{
	display: table;
    margin: 0 auto;
}